.cardID{
	text-align:center;
}

.cardThumb{
	width:80px;
	height:60px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.cardName{
	color: #80ccc6;
}

.cardName:hover{
	cursor: pointer;
	text-decoration: underline;
}

a:link {
	color: #80ccc6;
	text-decoration: none;
}

a:visited {
	color: #80ccc6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #4edcc4;
}

a:active {
	color: #80ccc6;
	text-decoration: none;
}

.cardAttack{
	color:#FF0000;
	text-align:center;
}

.cardAssist{
	color:#00FF00;
	text-align:center;
}

.cardUtility{
	color:#FF00FF;
	text-align:center;
}

.cardDefense{
	color:#FFBF00;
	text-align:center;
}

.cardSkill{
	color:#6495ED;
	text-align:center;
}

.cardLunge{
	color: #FD4D4D;
	text-align:center;
}

.cardImpact{
	color: #F3EE3E;
	text-align:center;
}

.cardAnnihilation{
	color: #7870D3;
	text-align:center;
}

.cardManipulate{
	color: #A46A1F;
	text-align:center;
}

.cardRelease{
	color: #4BAF5C;
	text-align:center;
}

.cardNormal{
	color: #A2A2A2;
	text-align:center;
}

.cardAwaken{
	height:15px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.cardJutsu{
	height:50px;
	width:50px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.cardCPCost{
	text-align:center;
}

.cardCRI{
	text-align:center;
}

.cardPOW{
	text-align:center;
}

.cardRT{
	text-align:center;
}
