.charID {
	text-align: center;
}

.charThumb {
	height: 50px;
	width: 50px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
	transition: transform .2s; /* Animation */
}

.charThumb:hover {
	transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.charName {
	color: #80CCC6;
}

.charName:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:link {
	color: #80CCC6;
	text-decoration: none;
}

a:visited {
	color: #80CCC6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #4EDCC4;
}

a:active {
	color: #80CCC6;
	text-decoration: none;
}

.charAttack {
	color: #F00;
	text-align: center;
}

.charAssist {
	color: #0F0;
	text-align: center;
}

.charUtility {
	color: #F0F;
	text-align: center;
}

.charDefense {
	color: #FFBF00;
	text-align: center;
}

.charSkill {
	color: #6495ED;
	text-align: center;
}

.charAwaken {
	height: 15px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.charAbilities {
	text-align: center;
}

.charTrait1 {
	text-align: center;
}

.charTrait2 {
	text-align: center;
}

.charTrait3 {
	text-align: center;
}

.charTrait4 {
	text-align: center;
}

.charTrait5 {
	text-align: center;
}

.btnType {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #F1F1F1;
	cursor: pointer;
}

.btnType:hover {
	background-color: #B2B0B0;
}

.btnType.active {
	background-color: #666;
	color: white;
}
