:root {
	--bg-color-webkit-scrollbar-track: #F0F0F0;
	--bg-webkit-scrollbar-thumb: #CECECE;
	--bg-webkit-scrollbar-thumb-hover: #A7A7A7;
}

/*  the scrollbar. */
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

/* the track (progress bar) of the scrollbar. */
::-webkit-scrollbar-track {
	background-color: var(--bg-color-webkit-scrollbar-track);
}

/* the draggable scrolling handle. */
::-webkit-scrollbar-thumb {
	background: var(--bg-webkit-scrollbar-thumb);
	height: 135px;
}

/* the draggable scrolling handle. */
::-webkit-scrollbar-thumb:hover {
	background: var(--bg-webkit-scrollbar-thumb-hover);
}

/* the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet. */
::-webkit-scrollbar-corner {
	background: var(--bg-color-webkit-scrollbar-track);
}

.indexTable {
	height: 70vh;
	overflow: auto;
}

.ninjutsuCardsTable {
	height: 70vh;
	overflow: auto;
}

