#myInput {
	background-image: url('https://lh3.googleusercontent.com/2K3x-i_bzRbn_IxOOxUP5nfWn8n2cNq64jpAEfegnWDgGS1C-VqHtuxCM7hxqqh_HfI_VO6W8OfP4R2JYHwk2vnHtozoApyz3OFQcIvmAX6452nviyiShPbww1uTSJ9vYcYrjKpfBQ=w1920-h1080'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

.sortIcon{
	height:30px;
	width:30px;
	vertical-align:middle;
}
