.btnShowSpecificEntries {
	background-color: #3498DB;
	color: white;
	padding: 6px;
	border: none;
	cursor: pointer;
}

.btnShowSpecificEntries:hover, .btnShowSpecificEntries:focus {
	background-color: #2980B9;
}

.dropDownShowSpecificEntries {
	display: inline-block;
	width: 160px;
}

.dropDownShowSpecificEntries a:hover {
	background-color: #DDD;
}

.dropdownContentEntries {
	display: none;
	position: absolute;
	min-width: 157px;
	background-color: #F1F1F1;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.dropdownContentEntries a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.show {
	display: block;
}