.id {
	text-align: center;
}

.indexCharImage {
	height: 40px;
	width: 40px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
	transition: transform .2s; /* Animation */
}

.indexCharImage:hover {
	transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.name {
	color: DarkTurquoise;
}

.name:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:link {
	color: DarkTurquoise;
	text-decoration: none;
}

a:visited {
	color: DarkTurquoise;
	text-decoration: none;
}

a:hover {
	color: Turquoise;
	text-decoration: underline;
}

a:active {
	color: Turquoise;
	text-decoration: none;
}

.attack {
	color: red;
	text-align: center;
}

.assist {
	color: Lime;
	text-align: center;
}

.defense {
	color: Gold;
	text-align: center;
}

.skill {
	color: DodgerBlue;
	text-align: center;
}

.utility {
	color: Magenta;
	text-align: center;
}

.rankImage {
	height: 15px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.abilities {
	text-align: center;
}

.trait1 {
	text-align: center;
}

.trait2 {
	text-align: center;
}

.trait3 {
	text-align: center;
}

.trait4 {
	text-align: center;
}

.trait5 {
	text-align: center;
}

.lunge {
	color: #FD4D4D;
	text-align: center;
}

.impact {
	color: #F3EE3E;
	text-align: center;
}

.annihilation {
	color: #7870D3;
	text-align: center;
}

.manipulate {
	color: #A46A1F;
	text-align: center;
}

.release {
	color: #4BAF5C;
	text-align: center;
}

.normal {
	color: #A2A2A2;
	text-align: center;
}

.jutsu {
	height: 50px;
	width: 50px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.cpCost {
	text-align: center;
}

.cri {
	text-align: center;
}

.pow {
	text-align: center;
}

.rt {
	text-align: center;
}
