:root {
  /* Light mode */
  --light-text: black;
  --light-bg: white;

  /* Dark mode */
  --dark-text: white;
  --dark-bg: #404040;

  /* Default mode */
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
}

/* Start theme-switch */
/* Switched mode */
.theme-switch:checked ~ #page {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
}
/* End theme-switch */

/* Styling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page {
  background: var(--bg-color);
  color: var(--text-color);
  font: normal 125%/1.4 Georgia, 'Times New Roman', Times, serif;
  min-height: 100%;
  transition: color .2s, background-color .2s;
}



