body {
	margin: 0;
	padding: 0;
	color: white;
	overflow: auto;
	background: #0E191A;
	font: normal 1.98vh Georgia, 'Times New Roman', Times, serif;
}

th, td {
	border: 0.14vh solid #333;
	padding: 0.71vh;
}

th {
	background: #EE3E19;
}

td {
	background: #F49907;
}

td:hover, th:hover {
	background-color: #A46A1F;
}

a:link {
	color: #00A5A8;
	font-weight: bold;
	transition: all .2s linear;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #00A5A8;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #0EFAFE;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #0EFAFE;
	background-color: transparent;
	text-decoration: underline;
}

.flex-container-cards-tools {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

#ninjutsu, #ultimateJutsu {
	width: 100vh;
	border-radius: 0.56vh;
	border: 0.42vh solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 2.84vh;
	margin-top: 4.26vh;
}

#ninjutsuCheckByLv, #ultimateJutsuCheckByLv {
	width: 80vh;
	border-radius: 0.56vh;
	border: 0.42vh solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 2.84vh;
	margin-top: 4.26vh;
}

#tool, #toolMaterials {
	width: 70vh;
	border-radius: 0.56vh;
	border: 0.42vh solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 2.84vh;
	margin-top: 4.26vh;
}

.type {
	font-weight: bold;
}

.typeImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#jutsuImage {
	width: 12.78vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#jutsuName {
	font-weight: bold;
}

.jutsuNature {
	font-weight: bold;
}

.natureImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#cardImage {
	padding: 0;
}

.cardImage {
	height: 46.875vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.rankImage {
	height: 4.26vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.rtImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#toolImage {
	height: 21.30vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.toolMaterialImage {
	height: 14.2vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#productionCostRyoImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.statTypeImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.productionCost {
	font-weight: bold;
}




