#filterType {
	display: inline-block;
	width: 40%;
}

#filterType .btnType {
	border: none;
	outline: none;
	padding: 0.85vh 0.85vh;
	background-color: #F1F1F1;
	cursor: pointer;
	margin: 0.42vh 0.28vh;
}

#filterType .btnType:hover {
	background-color: #B2B0B0;
}

#filterType .btnType.active {
	background-color: #666;
	color: white;
}