#filterType {
	display: inline-block;
	width: 380px;
}

#filterType .btnType {
	border: none;
	outline: none;
	padding: 6px 10px;
	background-color: #F1F1F1;
	cursor: pointer;
	margin: 10px 2px;
}

#filterType .btnType:hover {
	background-color: #B2B0B0;
}

#filterType .btnType.active {
	background-color: #666;
	color: white;
}

@media screen and (min-height: 1000px) {
	#filterType {
		width: 750px;
		height: 200px;
	}
	
	#filterType .btnType {
		font: normal 50px Georgia, 'Times New Roman', Times, serif;
	}
}