#mode {
	display: inline-block;
	width: 150px;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	background-color: #3498DB;
	font-family: "Arial", serif;
	font-size: 13.3333px;
	padding: 3px 0 3px 0;
}

#mode:hover {
	background-color: #2980B9;
}

.dark {
}