#mode {
	display: inline-block;
	width: 16vh;
	padding: 1vh 0 1vh 0;
	color: white;
	position: absolute;
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: #3498DB;
	margin-left: 0.5vh;
}

#mode:hover, .mode:focus {
	background-color: #2980B9;
	cursor: pointer;
}

.dark {
}