.mode {
	float:right;
	margin-top: 10px;
	margin-right: 5px;
}

.change {
	border: 1px solid #555;
	border-radius: 100%;
	width: 20px;
	text-align: center;
	padding: 5px;
	margin-left: 5px;
}

.dark{}