:root {
	--bg-color-myInput: white;
	--text-color-myInput: black;
}

#myInput {
	width: 100%;
	font-size: 2vh;
	padding: 0.85vh 0 0.85vh;
	border: 0.28vh solid #DDD;
	margin-bottom: 1.70vh;
	background-color: var(--bg-color-myInput);
	color: var(--text-color-myInput);
}

.sortImage {
	height: 4.26vh;
	width: 4.26vh;
	vertical-align: middle;
}

#sortTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #DDD;
	font-size: 2vh;
	margin-bottom: 5vh;
}

#sortTable tr {
	border-bottom: 0.14vh solid #DDD;
}

#sortTable th, td {
	text-align: left;
	padding: 0.71vh;
	border-left: 0.14vh solid #000;
	border-right: 0.14vh solid #000;
}

#sortTable th {
	text-align: center;
}
