:root{
	--bg-color-myInput: white;
	--text-color-myInput: black;
}

#myInput {
	width: 100%;
	font-size: 100%;
	padding: 1.13vh 0.85vh 0.85vh;
	border: 2px solid #DDD;
	margin-bottom: 1%;
	background-color: var(--bg-color-myInput);
	color: var(--text-color-myInput);
}

.sortImage {
	height: 4.26vh;
	width: 4.26vh;
	vertical-align: middle;
}

#sortTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #DDD;
	font-size: 100%;
	margin-bottom: 5vh;
}

#sortTable tr {
	border-bottom: 1px solid #DDD;
}

#sortTable th, td {
	text-align: left;
	padding: 5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#sortTable th {
	text-align: center;
}
