#entries {
	display: inline-block;
}

#entries a:hover {
	background-color: #DDD;
}

.btnEntries {
	width: 10vw;
	background-color: #3498DB;
	color: white;
}

.btnEntries:hover, .btnEntries:focus {
	background-color: #2980B9;
	cursor: pointer;
}

.contentEntries {
	display: none;
	position: absolute;
	width: 10vw;
	background-color: #F1F1F1;
	box-shadow: 0 0.5vw 2.8vh 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.contentEntries a {
	color: black;
	padding: 1.4vh 1vw;
	text-decoration: none;
	display: block;
}

.showEntries {
	display: block;
}

.entriesActive {
	background-color: #4BAF5C;
}