#abilityListTable {
	width: 50%;
	height: 100%;
	border-radius: 0.56vh;
	border: 0.42vh solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 2.84vh;
	margin-top: 4.26vh;
	margin-left: auto;
	margin-right: auto;
}

.abilityListImages {
	width: 4.26vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

a:link {
	color: #00A5A8;
	font-weight: bold;
	transition: all .2s linear;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #00A5A8;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #0EFAFE;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #0EFAFE;
	background-color: transparent;
	text-decoration: underline;
}