#charTable {
	width: 1%;
	height: 1%;
	border-radius: 4px;
	border: 3px solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 20px;
}

th, td {
	border: 1px solid #333;
	padding: 5px;
}

th {
	background: #EE3E19;
}

td {
	background: #F49907;
	width: 280px;
}

td:hover, th:hover {
	background-color: #A46A1F;
}

.type {
	font-weight: bold;
}

#char {
	padding: 0;
}

.char {
	width: 420px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.abilitiesListBtn:hover {
	transform: scale(1.2);
}

.linkBoardBtn:hover {
	transform: scale(1.2);
}

.typeImage {
	width: 40px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.rankImage {
	height: 30px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.abilitiesListBtn {
	width: 150px;
	height: 62px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
	transition: transform .2s; /* Animation */
}

.linkBoardBtn {
	width: 190px;
	height: 47px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
	transition: transform .2s; /* Animation */
}

@media screen and (max-width: 1600px) {
	#charTable {
		font-size: 16px;
	}
	
	td {
		width: 250px;
	}
	
	.char {
		width: 346px;
	}
	
	.typeImage {
		width: 30px;
	}
	
	.rankImage {
		height: 20px;
	}
	
	.abilitiesListBtn {
		width: 130px;
		height: 52px;
	}
	
	.linkBoardBtn {
		width: 170px;
		height: 40px;
	}
}

@media screen and (max-width: 1300px) {
	#charTable {
		font-size: 14px;
	}
	
	td {
		width: 210px;
	}
	
	.char {
		width: 270px;
	}
	
	.typeImage {
		width: 30px;
	}
	
	.rankImage {
		height: 20px;
	}
	
	.abilitiesListBtn {
		width: 90px;
		height: 36px;
	}
	
	.linkBoardBtn {
		width: 130px;
		height: 30px;
	}
}

@media screen and (max-width: 1000px) {
	#charTable {
		font-size: 12px;
	}
	
	td {
		width: 180px;
	}
	
	.char {
		width: 195px;
	}
	
	.typeImage {
		width: 20px;
	}
	
	.rankImage {
		height: 10px;
	}
	
	.abilitiesListBtn {
		width: 60px;
		height: 24px;
	}
	
	.linkBoardBtn {
		width: 100px;
		height: 22px;
	}
}