body {
	margin: 0;
	padding: 0;
	color: white;
	overflow: auto;
	background: #0E191A;
	font: normal 1.98vh Georgia, 'Times New Roman', Times, serif;
}

th, td {
	border: 0.14vh solid #333;
	padding: 0.71vh;
}

th {
	background: #EE3E19;
}

td {
	background: #F49907;
}

td:hover, th:hover {
	background-color: #A46A1F;
}

.cardThumb {
	width: 28.40vh;
	height: 21.30vh;
	margin: 0 auto;
}

.cardHover {
	transition: transform .2s; /* Animation */
}

.cardHover:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.abilitiesListBtn {
	width: 17.04vh;
	height: 7.10vh;
	margin: 0 auto;
	transition: transform .2s; /* Animation */
}

.abilitiesListBtn:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.linkBoardBtn {
	width: 21.875vh;
	height: 5.68vh;
	margin: 0 auto;
	transition: transform .2s; /* Animation */
}

.linkBoardBtn:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.toolThumb {
	width: 21.30vh;
	height: 21.30vh;
	margin: 0 auto;
}

figcaption {
	font-family: 'Orienta', sans-serif;
	font-size: 2.27vh;
	margin-top: 0.71vh;
}

.wrapper-table {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 35.51vh 0 35.51vh 35.51vh 35.51vh 35.51vh;
}

.one {
	grid-column: 1;
	grid-row: 1;
}

.two {
	grid-column: 2;
	grid-row: 1;
}

.two-flex {
	display: flex;
	flex-direction: row;
}

.three {
	grid-column: 2;
	grid-row: 3;
}

.three-flex {
	display: flex;
	flex-direction: row;
}

.four {
	grid-column: 2;
	grid-row: 4;
}

.four-flex {
	display: flex;
	flex-direction: row;
}

.five {
	grid-column: 2;
	grid-row: 5;
}

.five-flex {
	display: flex;
	flex-direction: row;
}

.six {
	grid-column: 2;
	grid-row: 6;
}

.six-flex {
	display: flex;
	flex-direction: row;
}