body {
	margin: 0;
	padding: 0;
	overflow: auto;
	font: normal 16px "Oswald", sans-serif;
	background: #0E191A;
	color: white;
}

#UltimateJutsus6Star, #UltimateJutsus5Star, #Jutsus5Star, #Jutsus4Star, #Jutsus3Star, #Jutsus1Star, #Tools5Star, #Tools4Star,#ToolsFactory5Star,#ToolsFactory4Star {
	display: none;
}

.cardHover {
	transition: transform .2s; /* Animation */
	word-wrap: break-word;
}

.cardHover:hover {
	transform: scale(1.2);
}

figcaption {
	font-family: 'Orienta', sans-serif;
	font-size: 16px;
	margin-top: 5px;
	text-align: left;
}

.cardsTypes {
	font-size: 16px;
	text-align: left;
	height:10px;
}

.wrapper {
	display: grid;
	grid-template-columns: 430px auto;
}

.cardThumb {
	width: 200px;
	height: 150px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.toolThumb {
	width: 150px;
	height: 150px;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.cardsTypesFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
	.cardsTypes {
		font-size: 15px;
	}
	
	figcaption {
		font-size: 15px;
	}
	
	.wrapper {
		grid-template-columns: 356px auto;
	}
	
	.cardThumb {
		width: 170px;
		height: 126px;
	}
	
	.toolThumb {
		width: 130px;
		height: 130px;
	}
}

@media screen and (max-width: 1300px) {
	.cardsTypes {
		font-size: 14px;
	}
	
	figcaption {
		font-size: 14px;
	}
	
	.wrapper {
		grid-template-columns: 281px auto;
	}
	
	.cardThumb {
		width: 140px;
		height: 103px;
	}
	
	.toolThumb {
		width: 110px;
		height: 110px;
	}
}

@media screen and (max-width: 1000px) {
	.cardsTypes {
		font-size: 13px;
	}
	
	figcaption {
		font-size: 13px;
	}
	
	.wrapper {
		grid-template-columns: 205px auto;
	}
	
	.cardThumb {
		width: 110px;
		height: 80px;
	}
	
	.toolThumb {
		width: 90px;
		height: 90px;
	}
}