#charTable {
	width: 59.81vh;
	height: 126.75vh;
	border-radius: 0.56vh;
	border: 0.42vh solid #333;
	text-align: center;
	vertical-align: center;
	font-size: 2.84vh;
}

.type {
	font-weight: bold;
}

.typeImage {
	width: 5.68vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

#char {
	padding: 0;
}

.char {
	height: 58.25vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

.rankImage {
	height: 4.26vh;
	/* Center the Image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* Center the Image */
}

