#charTable {
    width: 1%;
    height: 1%;
    border-radius: 4px;
    border: 3px solid #333;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
}

th {
    background: #EE3E19;
}

td {
    background: #F49907;
}

td:hover, th:hover {
    background-color: #A46A1F;
}

.type {
    font-weight: bold;
}

#char {
    padding: 0;
}

.abilitiesListBtn:hover {
    transform: scale(1.2);
}

.linkBoardBtn:hover {
    transform: scale(1.2);
}

.char {
    width: 410px;
    /* Center the Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the Image */
}

.typeImage {
    width: 40px;
    /* Center the Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the Image */
}

.rankImage {
    height: 30px;
    /* Center the Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the Image */
}

.abilitiesListBtn {
    width: 120px;
    height: 50px;
    /* Center the Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the Image */
    transition: transform .2s; /* Animation */
}

.linkBoardBtn {
    width: 160px;
    height: 41px;
    /* Center the Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the Image */
    transition: transform .2s; /* Animation */
}

@media screen and (max-width: 950px) {
    #charTable {
        font-size: 10px;
    }

    .char {
        width: 190px;
    }

    .typeImage {
        width: 20px;
    }

    .rankImage {
        height: 15px;
    }

    .abilitiesListBtn {
        width: 60px;
        height: 25px;
    }

    .linkBoardBtn {
        width: 80px;
        height: 20px;
    }
}